body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #444444, #444444);

}

.container_signup {
    width: 100%;
    max-width: 1200px; /* Aumentado o max-width para 1200px */
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    justify-content: space-between; /* Alinhando elementos no espaço entre */
    flex-wrap: wrap;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
}

.info {
    font-size: 16px;
    margin-top: 20px;
    line-height: 16px;
    color: #ff382b;
    width: 55%;
    padding: 7px;
    background-color: #ecdcdc61;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(227, 224, 224, 0.1);
}

#botao {
    background-color: #09cf7d;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding: 12px 44px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 25px;
    width: 250px;
}

button {
    padding: 12px 44px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.input-group {
    position: relative;
}

/* Estilos para a mensagem de feedback */
.info .feed {
    margin-bottom: 5px;
}
  
.info .feed:last-child {
    margin-bottom: 0;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Adicionando margem superior para o botão */
    width: 100px;
}
  
.btn-primary:hover {
    background-color: #0056b3;
    color: #fff;
}  